<%- include('../../layout/head'); -%>

<body>
  <section>
    <div class="container-fluid">
      <div class="row">

        <%- include('../../layout/nurseSidebar'); -%>

        <div class="col-md-10 " id="target">
          <div class="row mx-5 my-5">
            <% if (typeof patients !== 'undefined'){
                    for(let i=0; i<patients.length; i++){
                      let p = patients[i];
                      let check = p.pubStream ? 'checked': '';

                  %>
            <div class="col-4 mb-5">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title"><%= p.name%></h5>
                  <h6 class="card-subtitle"><%= p.refCode%></h6>
                  <p class="card-text">Visiting Hours :<%= p.visitCeil%>:00hrs-<%= p.visitFloor%>:00hrs
                  </p>
                  <a href="#" class="btn btn-primary">Live Stream</a>
                  <a href="#" class="btn btn-primary">Video Call</a>
                  <input type="checkbox" disabled <%= check%>  id="access" data-toggle="toggle" data-on="Access Granted" data-off="Access Denied"
                  data-onstyle="success" data-offstyle="danger">

                  <br><br>
                  <form method="POST">
                    <input type="hidden" name="_id" value="<%= p._id%>">
                    <button formaction="/staff/allow" class="btn btn-primary">Allow</button>
                    <button formaction="/staff/deny" class="btn btn-danger">Deny</button>
                  </form>
                </div>
              </div>
            </div>

            <%
                }
              }
             %>
          </div>
        </div>

      </div>
    </div>
  </section>
</body>

</html>