<%- include('../../layout/head'); -%>

<body>
  <section>
    <div class="container-fluid">
      <div class="row">

        <%- include('../../layout/doctorSidebar'); -%>

        <div class="col-md-10 " id="target">
          <div class="row mx-5 my-5">

            <div class="col-md-10 ">

              <div id="accordion" class="mx-4 my-4">

                <% if(typeof patients !== 'undefined'){
                      for(let i=0; i<patients.length; i++){
                        let p = patients[i];
                        %>
                <div class="card">
                  <div class="card-header">
                    <a style="float: left;" class="collapsed card-link" data-toggle="collapse"
                      href="#id<%= p.refCode%>">
                      <%=p.name%>
                    </a>

                    <form method="POST" action="/staff/other/delete">
                      <input type="hidden" name="_id" value="<%= p._id%>">
                      <input style="float: right;" type="submit" class="btn btn-danger" value="Delete">
                    </form>
                  </div>
                  <div id="id<%= p.refCode%>" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <form style="width:60%;display: inline-block" action="/staff/updatePatient" method="POST">
                        <input class="<%=p._id%>" type="hidden" name="_id" value="<%=p._id%>">
                        <div class="form-group" id="NameInput">
                          <label for="Name:" text-align="left">Name:</label>
                          <input name="name" id="name" type="text" class="form-control <%=p._id%>" value="<%=p.name%>"
                            disabled>
                        </div>
                        <div class="form-group" id="EmailInput">
                          <label for="email" text-align="left">E-mail:</label>
                          <input name="email" id="email" type="email" class="form-control <%=p._id%>"
                            value="<%=p.email%>" disabled>
                        </div>
                        <div class="form-group" id="GenderInput">
                          <label for="gender" text-align="left">Gender:</label>
                          <select class="form-control <%=p._id%>" id="gender" name="gender" value="<%= p.gender%>"
                            disabled>
                            <option value="male">Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="others">Others</option>
                          </select>
                        </div>
                        <div class="form-group" id="ContactInput">
                          <label for="contact" text-align="left">Contact: </label>
                          <input name="contact" id="contact" type="text" class="form-control <%=p._id%>"
                            value="<%=p.contact%>" disabled>
                        </div>
                        <div class="form-group" id="RefIDInput">
                          <label for="refID">Reference ID:</label>
                          <input name="refID" id="refID" type="text" class="form-control <%=p._id%>"
                            value="<%=p.refCode%>" disabled>
                        </div>
                        <div class="form-group" id="DocAssignedInput">
                          <label for="doctor">Doctor ID:</label>
                          <input name="doctor" id="doctor" type="text" class="form-control <%=p._id%>"
                            value="<%=p.doctor%>" disabled>
                        </div>
                        <div class="form-group" id="TrustedUserInput">
                          <label for="trusteduser">Trusted User:</label>
                          <input name="trusteduser" id="trusteduser" type="text" class="form-control <%=p._id%>"
                            value="<%=p.trustedUser%>" disabled>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
                <br>
                <%    
                  }
                }
                %>
              </div>
            </div>


          </div>
        </div>

      </div>
    </div>
  </section>

</body>

</html>